<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
    	<customErrors mode="Off"/>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\BookMaintainCore.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <httpErrors errorMode="Detailed" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 0db48c32-525c-4546-b85d-ce31018ac7a7-->